<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <meta charset="utf-8" />
        <title> Operating Systems (Express Version) </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
            <h1>Operating Systems (Express Version) </h1>
        </header>
        
        <!--Navigation menu-->
        <nav>
            <hr width="50%" />
            <a href="index">Home</a>
            <a href="windows">Windows</a>
            <a href="macOS">MacOs</a>
            <a href="linux">Linux</a>
        </nav>
        
        <!--<br /><br />-->
        