<%- include('partials/header') -%>
        
        <main>
            
            <figure id="linx">
                <img src="img/linuxlogo.jpg" class="linux1" alt="Linux logo systems" />
            </figure>
            
            <figure id="ubuntu">
                <img src="img/ubuntudesktop.jpg" class="ubuntu1" alt="Ubuntu menu" />
            </figure>
            
            <div id="linxText">
                <li><span class="textList">Linux is a family of open source operating systems based on UNIX. 
                The Linux kernel was launched in 1991 for Linus Torvalds. The operating systems 
                that use the Linux kernel are free and can be installed on any computer.</span></li>
                
                <li><span class="textList">Linux-based operating systems are called distros which can be modified to create 
                other distributions according to user needs. Ubuntu is one of the most popular operating 
                systems based on the Linux kernel.</span></li>
                
                <li><span class="textList">Linux-based operating systems are especially used on servers, which is why 
                many companies use this operating system to create and manage databases. In addition, 
                Linux-based operating systems can be used graphically or through the command line, so 
                they are very reliable for any type of programming.</span></li>
                
                <li><span class="textList">In addition to being modifiable Linux can be installed on any electronic such as personal computers, 
                servers, cars, home appliances, televisions and portable devices such as cell phones and tablets.</span></li>
                
                <p><a class= "linkers" href="https://opensource.com/resources/linux" target="_blank">Click here for more information about Linux</a></p>                
                <p><a class= "linkers" href="https://ubuntu.com/desktop" target="_blank">Click here for more information about Ubuntu</a></p>                
                                
                <br /><br />
                
            </div>
            
        </main>
        
<%- include('partials/footer') -%>