<%- include('partials/header') -%>
        
        <main>
            
            <figure id="mac">
                <img src="img/macOsLogo.png" class="mac1" alt="macOs logo" />
            </figure>
            
            <figure id="macmenu">
                <img src="img/macoscatalina.jpg" class="macmenu1" alt="macOs menu"/>
            </figure>
            
            <div id="macText">
                <li><span class="textList">MacOS is a series of graphic operating systems developed and marketed by Apple. 
                Unlike Windows, Apple is responsible for developing its own hardware in which the MacOS operating system will work. 
                In addition, this operating system is based on UNIX.</span></li>
                
                <li><span class="textList">MacOS is the second most used operating system, and this operating system is the second major series of Macintosh
                operating systems. The first system was called classic MacOS and was introduced in 1984.</span></li>
                
                <li><span class="textList">This operating system is more stable than other operating systems. The recent version of MacOS is called Catalina. 
                In addition, a Mac computer can run some Windows applications such as Office products. In addition, this operating 
                system has the ability to emulate the Windows operating system through software called Boot Camp.</span></li>
                
                <li><span class="textList">However, the cost of a computer with MacOS system is more expensive than the 
                price of a computer running another operating system. Also, the MacOS hardware cannot be updated.</span></li>
                
                <p><a class= "linkers" href="https://www.apple.com/macos/what-is/" target="_blank">Click here for more information about macOs</a></p>                

                <br /><br />
                
            </div>
            
        </main>

<%- include('partials/footer') -%>