<%- include('partials/header') -%>
        
        <main>
            
            <figure id="win">
                <img src="img/windows10Logo.png" class="wind1" alt="Windows logo" />
            </figure>
            
            <figure id="winmenu">
                <img src="img/windows10Menu.png" class="winmenu1" alt="Windows menu"/>
            </figure>
            
            <div id="windowsText">
           
                <li><span class="textList">Windows is an operating system created by Microsoft. 
                This operating system is the most used because it has an easy-to-use graphic interface.
                Windows is present in most personal computers, businesses, and schools.</span></li>
                
                <li><span class="textList">Windows works on 32, 64 bit and ARM platforms. This operating system is a series developed by Microsoft. 
                The first version of Windows that used a graphical user interface was released in 1985.</span></li>
                
                <li><span class="textList">Windows can run more programs as it is the most used operating system. 
                In addition, hardware development companies create more drivers for this operating system. 
                However, Windows is also the operating system most vulnerable to viruses, trojans, and spyware.</span></li>
                
                <li><span class="textList">The most recent version of this Operating System is Windows 10. 
                For personal use Windows 10 has 2 versions Home and Professional, most new personal 
                computers have the Home version installed and a license fee is required to upgrade to the Professional version.</span></li>
            
                <p><a class= "linkers" href="https://searchwindowsserver.techtarget.com/definition/Windows" target="_blank">Click here for more information about Windows</a></p>                
                <br /><br />
                
            </div>
            
        </main>
        
<%- include('partials/footer') -%>